> for pyspark installed seperately

In [1]:
import findspark
findspark.init()
findspark.find()

'/opt/spark'

In [2]:
# Import PySpark
from pyspark.sql import SparkSession

In [ ]:

# Create SparkSession
spark = SparkSession.builder.appName('Test').getOrCreate()

> read csv

In [ ]:

df = spark.read.option("header", "true").csv("./employees.csv",)
df.printSchema()
# print all rows
df.show(df.count())

In [5]:
# select max salary employee
max_val = df.select(df['Salary'].cast("int")).rdd.max()[0]
df.filter(f"Salary == '{max_val}'").select("First Name", "Last Name").show()

+----------+---------+
|First Name|Last Name|
+----------+---------+
|   Theresa|      Lee|
+----------+---------+

> save by partitioning

In [ ]:

df.select("First Name", "Last Name", "Date of Joining", "Gender").write.option("header", True) \
    .partitionBy("Gender") \
    .mode("overwrite") \
    .csv("partition_gender")

In [6]:
from pyspark.sql.functions import avg, count, min, max, stddev
funcs = {
    "avg": avg,
    "count": count,
    "min": min,
    "max": max,
    "stddev": stddev,
}
for key, val in funcs.items():
    df.select(val(df['Salary'].cast("int")).alias(key)).show()

+---------+
|      avg|
+---------+
|119738.09|
+---------+

+-----+
|count|
+-----+
|  100|
+-----+

+-----+
|  min|
+-----+
|42005|
+-----+

+------+
|   max|
+------+
|197537|
+------+

+-----------------+
|           stddev|
+-----------------+
|46185.27819425479|
+-----------------+

In [7]:

from pyspark.sql.functions import lit, to_date, current_date, col, datediff

# find number of days from joining
df.withColumn('Days from Joining',
              datediff(current_date(), to_date(
                  df['Date of Joining'], 'm/d/yyyy'))
              ).show()

+------+----------+---------+------+--------------------+-------------+---------------+------+-----------+------------+--------------+--------------+-----+-----------------+
|Emp ID|First Name|Last Name|Gender|              E Mail|Date of Birth|Date of Joining|Salary|Last % Hike|  Phone No. |        County|          City|  Zip|Days from Joining|
+------+----------+---------+------+--------------------+-------------+---------------+------+-----------+------------+--------------+--------------+-----+-----------------+
|677509|      Lois|   Walker|     F|lois.walker@hotma...|    3/29/1981|     11/24/2003|168251|        21%|303-572-8492|        Denver|        Denver|80224|             7032|
|940761|    Brenda| Robinson|     F|brenda.robinson@g...|    7/31/1970|      7/27/2008| 51063|        27%|225-945-4954|       De Soto|     Stonewall|71078|             5203|
|428945|       Joe| Robinson|     M|joe.robinson@gmai...|    6/16/1963|       8/3/2016| 50155|        16%|219-904-2161|       Clinton|  Michigantown|46057|             2305|
|408351|     Diane|    Evans|     F|diane.evans@yahoo...|    12/4/1977|      4/16/1999|180294|         1%|215-793-6791|      Crawford|      Hydetown|16328|             8501|
|193819|  Benjamin|  Russell|     M|benjamin.russell@...|    4/17/1977|      7/25/2013|117642|        13%|262-404-2252|       Waupaca|       Fremont|54940|             3378|
|499687|   Patrick|   Bailey|     M|patrick.bailey@ao...|    9/27/1982|      7/22/2005| 72305|         5%|319-812-6957|       Madison|     Macksburg|50155|             6303|
|539712|     Nancy|    Baker|     F|  nancy.baker@bp.com|    6/13/1995|      9/14/2016| 98189|         0%|229-336-5117|        Fulton|       Atlanta|30334|             2294|
|380086|     Carol|   Murphy|     F|carol.murphy@gmai...|    6/30/1958|      1/28/1983| 60918|        20%|216-336-0009|       Clinton|   Blanchester|45107|            14333|
|477616|   Frances|    Young|     F|frances.young@gma...|     6/9/1959|      4/27/1994|121587|        28%|210-819-9765|         Starr|       Delmita|78536|            10316|
|162402|     Diana| Peterson|     F|diana.peterson@ho...|   11/13/1987|      2/17/2014| 43010|         4%|479-783-5656|       Carroll|Eureka Springs|72632|             3021|
|231469|     Ralph|   Flores|     M|ralph.flores@yaho...|     2/5/1975|      4/14/2009|118457|         8%|316-280-2864|        Nemaha|       Sabetha|66534|             4850|
|153989|      Jack|Alexander|     M|jack.alexander@gm...|    5/19/1995|       1/5/2017| 82965|        23%|702-603-3769|         Clark|     Las Vegas|89170|             1937|
|386158|   Melissa|     King|     F|melissa.king@comc...|    2/24/1972|     11/24/2015|166892|         1%|216-605-3731|    Washington| New Matamoras|45767|             2649|
|301576|     Wayne|   Watson|     M|wayne.watson@gmai...|    6/26/1996|      7/19/2017| 92758|        14%|701-231-9370|      Cavalier|         Maida|58255|             1923|
|441771|    Cheryl|    Scott|     F|cheryl.scott@gmai...|    2/23/1958|     11/26/1990| 92220|        12%|215-288-9345|      Somerset|      Quecreek|15555|            11778|
|528509|     Paula|     Diaz|     F|paula.diaz@gmail.com|    8/22/1966|      8/22/1994|152654|         8%|252-531-7641|        Duplin|    Beulaville|28518|            10321|
|912990|    Joshua|  Stewart|     M|joshua.stewart@ya...|    5/18/1970|       9/2/2002|184896|         1%|217-279-9342|       Madison|   New Douglas|62074|             7419|
|214352|   Theresa|      Lee|     F|theresa.lee@gmail...|    12/5/1992|      1/19/2015|197537|         1%|319-553-8919|      Mitchell|   Toeterville|50481|             2654|
|890290|     Julia|    Scott|     F|julia.scott@apple...|    7/15/1959|      2/23/2005|141518|         3%|423-939-1010|       Hickman| Primm Springs|38476|             6302|
|622406|    Thomas|    Lewis|     M|thomas.lewis@gmai...|    10/4/1967|       6/7/1998| 73862|         3%|314-679-3697|Cape Girardeau|     Dutchtown|63745|             8875|
+------+----------+---------+------+--------------------+-------------+---------------+------+-----------+------------+--------------+--------------+-----+-----------------+
only showing top 20 rows